*{
    box-sizing: border-box;
    margin: 0 ;
}
body{
    margin: 0;
    overflow-x: hidden;
}
header{
     background: linear-gradient(170deg, #63aae4 -17.33%, rgba(74, 153, 211, 0) 75.91%),
    linear-gradient(-45deg, #FFFFFF, #FFFFFF);
     box-shadow: 0 0 10px 0;
     display: flex;
     justify-content: center;
    flex-direction: column;
    padding-top: 25px;
    width: 100%;
    height: 100%;
    
}
.header{
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.ulul{
    display: flex;
}
.ulul .lili{
    padding: 20px;
    list-style: none;
}
.ulul .lili .aa{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.904);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.nav-nav{
    font-size: 45px;
    font-weight: 600;
    color: #0a7dd4;
}
.nav-text{
    width: 800px;
}
/*CONTEINER*/
.contiener-1{
    max-width: 1150px;
    width: 100%;
margin: 0 auto;
    height: 100%;
    padding-top: 110px;
    
}
.bloc-contiener-1{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.imi{
   
    display: flex;
    padding-top: 100px;
}
.icon{
    background-image: url(./IMG/Group\ 51.png);
    width: 180px;
    height: 60px;
    display: block;
}
.logo{
    background-image: url(./IMG/Group\ 52.png);
    width: 180px;
    height: 60px;
    display: block;
    margin-left: 20px;
}
