*{
    box-sizing: border-box;
    margin: 0 ;
}
body{
    margin: 0;
    overflow-x: hidden;
}
header{
     background: linear-gradient(170deg, #63aae4 -17.33%, rgba(74, 153, 211, 0) 75.91%),
    linear-gradient(-45deg, #FFFFFF, #FFFFFF);
     box-shadow: 0 0 10px 0;
     display: flex;
     justify-content: center;
    flex-direction: column;
    padding-top: 25px;
    width: 100%;
    height: 100%;
    
    
}

.header{
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.ulul{
    display: flex;
}
.ulul .lili{
    padding: 20px;
    list-style: none;
}
.ulul .lili .aat{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.904);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.nav-nav{
    font-size: 45px;
    font-weight: 600;
    color: #0a7dd4;
}
.nav-text{
    width: 800px;
}
.aat:hover{
    border-bottom: 3px solid white ;
}
/*CONTEINER*/
.contiener-1{
    max-width: 1150px;
    width: 100%;
margin: 0 auto;
    height: 100%;
    padding-top: 110px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.bloc-contiener-1{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.imi{
   
    display: flex;
    padding-top: 100px;
}
.icon{
    background-image: url(./IMG/Group\ 51.png);
    width: 180px;
    height: 60px;
    display: block;
}
.logo{
    background-image: url(./IMG/Group\ 52.png);
    width: 180px;
    height: 60px;
    display: block;
    margin-left: 20px;
}
.img{
    display: flex;
    flex-direction: row-reverse;
    margin-top: -450px;
}
.phone1{
    display: block;
    width: 280px;
    height: 534px;
    background-image:url(./IMG/mockup1\ 3phone2.png) ;
    background-size: cover;
   
}
.phone2{
    display: block;
    width: 240px;
    height: 458px;
    background-image:url(./IMG/mockup1\ 2phone1.png) ;
    background-size: cover;
    margin-right: -60px;
    margin-top: 80px;
}
h1{
    float: left;
text-align: left;
    font-family: 'Roboto & display';
    font-weight: 500;
    font-size: 50px;
    width: 500px;
    color: #260041;
}
.nav-text{
    color: #260041;
    font-family: Objective;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    max-width: 636px;   
}  
.blok-text{
    display: flex;
    flex-direction: column;
    width: 590px;
    width: 100%;
    margin: 0;
    padding-right: 15px;
}
.de{
    display: flex;
    justify-content: flex-end;
}

/**/
.conterner22{
    max-width: 950px;
    margin: 0 auto;
    width: 100%;
}
.conteinerbloc22{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.asw{
    width: 380px;
    height: 525px;
    background: #FFFFFF;
box-shadow: 5px 20px 50px rgba(6, 148, 250, 0.459);
border-radius: 10px;
}
.conteiner22h2{
    width: 395px;
    font-family: Objective;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 46px;
letter-spacing: 0.05em;
color: #260041;
}
.juct{
    margin-left: 70px;
}
.luul{
    margin-bottom: 70px;
}
.img3{
    display: flex;
justify-content: center;
    margin: 0;
}
.cont22h4{
    padding-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    
    color: #0F001A; 
}
.contienerwe{
    padding: 40px;
    
}
.sit{
    font-family: Objective;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #0F001A;
    opacity: 0.6; 
    padding-top: 15px;
}
.more{
    font-family: Objective;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
text-decoration: none;
color: #4A99D3;
display: flex;
align-items: center;
padding-top: 20px;
}
.vectorimg{
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.wet{
    display: flex;
    align-items: center;

}
.gor{
    display: flex;
    align-items: center;
   
   
}
.spanlo{
    display: flex;
    align-items: center;
}
.radius{
    background-image: url(./IMG/Group\ 73tochka.png);
    width: 100px;
    height: 100px;
    
}

/**/
.rok{
    display: flex;
    justify-content: flex-start;
}
/**/
/**/
/*SERVISES*/
.servises{
    width: 1440px;
    width: 100%;
    background: rgba(30, 134, 207, 0.1);
    padding-left: 15px;
    padding-right: 15px;
}
.srvises-itm{
    padding-top: 95px;
    padding-bottom: 95px; 
}
.how{
    text-align: center;
    color: #6c7c88;
    font-family: Objective;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 27px;
}
.bloch{
    padding-top: 35px;
    display: flex;
     justify-content: space-evenly;  
     flex-basis: calc(25% - 100px);  

}
.servises_text{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.dolor{
    font-family: Objective;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;  
}
.cal{
    display: flex;
    justify-content: center;
}
.h5text{
    font-family: Objective;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 19px;


color: #0F001A;
}
 /**/
 .sectiom{
        max-width:1189px;
        width: 100%;
        height: 100%;
       margin: 0 auto;
       padding-bottom: 35px;
}
    .row{
        width: 399px;
        height: 519px;
        background-image: url(./IMG/image\ 1.png);
        display: block;
}
.vector2{
    width: 50px;
    height: 43px;
    background-image: url(./IMG/fa-solid_quote-leftkavichka.png);
    display: block;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10px;

}
.widdow{
 background-color: rgba(74, 153, 211, 0.1);
color: #4A99D3 10%;

border-radius: 0px 6px 6px 0px;
width: 677px;
height: 400px;

}
.second{
display: flex;
margin-left: 15px;
margin-right: 15px;

}
.what{
    text-align: center;
    display: flex;
    justify-content: center;
     padding-bottom: 55px;
     padding-top: 35px;
    font-family: Objective;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 27px;

text-align: center;


color: #0F001A;
}
.amed{
    padding-top: 35px;
padding-left: 25px;
    font-family: Objective;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;


color: #0F001A;

}
.angel{
    font-family: Objective;
font-style: italic;
font-weight: 600;
font-size: 20px;
line-height: 19px;
margin-top: 50px;
margin-left: 50px;
display: flex;
align-items: center;
width: 418px;
color: #0F001A;
}
.gru{
    max-width: 450px;
    margin: 0 auto;
    
    padding-top: 150px;
}
.vek{
    display: flex;
    align-items: center;
    padding-top: 150px;
    justify-content: center;
}
.secondd{
    box-shadow: 0 0 5px 0;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 15px;
     border-radius: 4px;
}
/**/
main{
    padding-top: 50px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1028px;
    margin: 0 auto;
}


.hight{
    width: 180px;
    height: 343px;
  display: block;
  background-image: url(./IMG/mockup1\ 2phone1.png);
  background-size: cover;
  margin-top: 54px;
  margin-right: -50px;
}
.width{
    width: 240px;
    height: 458px;
    display: block;
   background-image: url(./IMG/mockup1\ 3phone2.png);
    background-size: cover;
    z-index: 2;
}
.left{
    width: 180px;
    height: 343px;
  display: block;
  background-image: url(./IMG/mockup1\ 3.png);
  background-size: cover;
  margin-top: 54px; 
 margin-left: -50px;
 z-index: 1;


}
.apple{
    width: 165px;
    height: 52px;
    display: block;
    background-image: url(./IMG/Group\ \(2\).png);
    background-size: cover;
    margin-right: -50px;
}
.appler{
    width: 165px;
    height: 52px;
    display: block;
    background-image: url(./IMG/Group\ \(3\).png);
    background-size: cover;
    margin-left: 60px;

}
.app{
    font-family:'roboto'sans-serif;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 26px;
text-align: center;
color: #0F001A;
}
.in{
    
    font-family: Objective;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 27px;
text-align: center;
color: #0F001A;
opacity: 0.5;
padding-top: 20px;
padding-bottom: 50px;
}
.elit{
    max-width:  444px;

    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    
}

.land{
    display: flex;
    
}
.absolut{
    display: flex;
}
.goog{
    display: flex;
}
/**/
.boks2{
    padding-top: 50px;
}
.boks{
    display: flex;
    justify-content: space-between;
    margin-bottom: -6px;
}
.leef{
    display: flex;
    justify-content: flex-end;
    
}/**/
/**/
footer{
    width: 1440px;
    width: 100%;
    height: 100%;
    background-color:  #4A99D3;
}
.fotet{
    display: flex;
    max-width:1190px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 57px;
}
.h5footer{
    font-family: Objective;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
     text-decoration: underline 3px solid white;
     
    color: #FFFFFF;   
}
.footh5{
    display: flex;
     padding-bottom: 50px;
}
ul{
    padding-left: 0; 
     
  }
  li{
      list-style-type: none;
      padding-left: 0;
  }
  ul li a{
      text-align: center;
      padding-left: 0;
      font-family: Objective;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
   text-decoration: none;
  
  
  color: #FFFFFF;
  }
  .logo4{
     
  font-family: Objective;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 35px;
  font-weight: 500;
  color: #FFFFFF; 
}
.text-footer{
    width: 364px;
    font-family: Objective;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
/* or 144% */


color: #FFFFFF;
}
.labal{
    display: flex;
}
#name{
    width: 268px;
    height: 50px;
    background: #FFFFFF;
 border-radius: 3px;
 }
 .li{
     width: 116px;
     height: 50px;
     border: 1px solid white;  
     margin-left: 10px;
     background-color: white;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .footer-a{
  text-decoration: none;
   color: #4A99D3;
   font-family: Objective;
 font-style: normal;
 font-weight: bold;
 font-size: 16px;
 line-height: 17px;
 }
 .footer2{
    padding-top: 30px;
    border-top: 2px solid white;
    display: flex;
    max-width:1190px;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 25px;
}
.footer-2-text{
    font-family: Objective;
    font-style: normal;
    font-weight: bold;
    font-size: 10.41px;
    line-height: 11px;
    color: #FFFFFF; 
}
.nav .labal .in {
    background-color: black;
    display: none;
    position: relative;
    padding: 20px 20px;
    cursor: pointer;
}
.op{
    border: none;
    outline: none;
}
@media screen and (max-width:1190px){
     
     
    .nav{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        height: 75px;
        
    }
    .nav-nav{
        font-size: 35px;
        height: 20px;
    }
    .ulul{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .lili{
      height: 4px;
    }
    
}
@media(max-width:1060px){
    .bloc-contiener-1{
        display: flex;
        align-items: center;
        flex-flow: wrap row;
        margin: 10px auto;
        height: 100%;
        
    }
   .blok-text{
       display: flex;
       align-items: center;
       flex-direction: column;
    
       margin-top: auto;
       
   }
   .nav-text{
       text-align: center;
       max-width: 450px;
       transition: 2s;
   }
   h1{
       display: flex;
       align-items: center;
       text-align: center;
       font-size: 48px;
        line-height: 45px;
        padding-bottom: 25px;
   }
   .imi{
       display: flex;
       align-items: center;
        flex-direction: column;
   }
   .logo{
       margin: 0;
        margin-top: 10px;
        transition: 2s;
   }
   .img{
       display: flex;
       align-items: center;
       margin: 0;
       flex-direction: column;
       transform: scale(0.9);
       margin-left: 10px;
   }
   .phone2{
      margin: 0;
   }
   .blockk22{
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
   }
   .conteinerbloc22{
       display: flex;
       align-items: center;
    
       flex-direction: column;
       margin-top: 20px;
       flex-basis: calc(25% - 20px);
       transition: 2s;
       transform: scale(0.9);
   }
   .juct{
       margin-top: 70px;
       display: flex;
       align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    transition: 2s;
   }
   .asw{
      flex: 0 0 calc(10% - 10px);
   }
   .luul{
    flex: 0 0 calc(10% - 10px);
       text-align: center;
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   .wet{
       display: flex;
       justify-content: center;
   }
   .radius{
       background-image: none;
   }
   
}
@media(max-width:1056px) {
    .luul{
       margin: 10px; 
       justify-content: center;
    }
}
/**/
@media screen and (max-width:800px){
     .srvises-itm{
         display: flex;
         align-items: center;
         flex-direction: column;
     }  
     .bloch{
          text-align: center;
          width: 200px;
        flex-flow: row wrap;
         flex-basis: calc(5% - 20px);
         

     }  
     .bloch1{
         padding: 20px;
     }         
}
/**//**/
@media(max-width:1005px){
    .sectiom{
        display: flex;
        align-items: center;
        flex-direction: column;
    
    }
    .sectiom{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .second{
        display: flex;
        align-items: center;
        flex-direction: column; 
    }
    .gru{
        display: flex;
        align-items: center;
        flex-direction: column;
         margin-left: -25px;
        text-align: center;
        padding-top: 25px;
    }
    .row{
        transform: scale(0.8);
    }
    .vek{
        margin-left: 13px;
        padding-top: 19px;
        transform: scale(0.7);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/**//*/**/
@media(max-width:940px){
    .goog{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .appler{
        margin: 0;
    }
}
@media(max-width:1000px){
   .main{
      margin-top: -100px;
   }
    .land{
        display: flex;
        flex-direction: column;   
    }
    .absolut{
         display: flex;
         align-items: center;
        flex-direction: column;
    }
    .width{
      display: flex;
      align-items: center;
      margin-left: 50px;
    }
    .left{
        margin-top: -5px;
        margin-left: 50px;
    }
    .apple{
        margin: 0;
    }
    .appler{
        margin: 0;
        margin-top: 5px;
    }
    .goog{
        display: flex;
        align-items: center;
        flex-direction: column;
       
    }
    .elit{
        margin-top: -90px;
    }
}
/**/
/**/
@media(max-width:913px){
    .fotet{
        display: flex;
        align-items: center;
    flex-flow: column;
    padding-bottom: 10px;
    }
    #other{
        margin-left: 23px;
    }
    #produkt{
        margin-left: 0px;
    }
    .foterh5{
        padding-top: 15px;
    }
    .absolut{
        display: flex;
        align-items: center;
        margin: 0;
        transform: scale(0.9);
        border-radius: 10%;
        flex-direction: column;
    }
    .text-footer{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .labal{
        transform: scale(0.8);
    }
    #name{
        border-radius: 15px;

    }
    .li{
        border-radius: 15px;
    }
    
    
    
    
}