*{
    box-sizing: border-box;
    margin: 0 ;
}
body{
    margin: 0;
    overflow-x: hidden;
}
header{
     background: linear-gradient(170deg, #63aae4 -17.33%, rgba(74, 153, 211, 0) 75.91%),
    linear-gradient(-45deg, #FFFFFF, #FFFFFF);
     box-shadow: 0 0 10px 0;
     display: flex;
     justify-content: center;
    flex-direction: column;
    padding-top: 25px;
    width: 100%;
    height: 100%;
    
}
.header{
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.ulul{
    display: flex;
}
.ulul .lili{
    padding: 20px;
    list-style: none;
}
.ulul .lili .aa{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.904);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.nav-nav{
    font-size: 45px;
    font-weight: 600;
    color: #0a7dd4;
}
.nav-text{
    width: 800px;
}
/*CONTEINER*/
.contiener-1{
    max-width: 1150px;
    width: 100%;
margin: 0 auto;
    height: 100%;
    padding-top: 110px;
    
}
.bloc-contiener-1{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.imi{
   
    display: flex;
    padding-top: 100px;
}
.icon{
    background-image: url(./IMG/Group\ 51.png);
    width: 180px;
    height: 60px;
    display: block;
}
.logo{
    background-image: url(./IMG/Group\ 52.png);
    width: 180px;
    height: 60px;
    display: block;
    margin-left: 20px;
}
.img{
    display: flex;
    flex-direction: row-reverse;
    margin-top: -450px;
}
.phone1{
    display: block;
    width: 280px;
    height: 534px;
    background-image:url(./IMG/mockup1\ 3phone2.png) ;
    background-size: cover;
   
}
.phone2{
    display: block;
    width: 240px;
    height: 458px;
    background-image:url(./IMG/mockup1\ 2phone1.png) ;
    background-size: cover;
    margin-right: -60px;
    margin-top: 80px;
}
h1{
    float: left;
text-align: left;
    font-family: 'Roboto & display';
    font-weight: 500;
    font-size: 50px;
    width: 500px;
    color: #260041;
}
.nav-text{
    color: #260041;
    font-family: Objective;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    max-width: 636px;   
}  
.blok-text{
    display: flex;
    flex-direction: column;
    width: 590px;
    width: 100%;
    margin: 0;
}
.de{
    display: flex;
    justify-content: flex-end;
}

/**/
.conterner22{
    max-width: 950px;
    margin: 0 auto;
    width: 100%;
}
.conteinerbloc22{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.asw{
    width: 380px;
    height: 525px;
    background: #FFFFFF;
box-shadow: 5px 20px 50px rgba(6, 148, 250, 0.459);
border-radius: 10px;
}
.conteiner22h2{
    width: 395px;
    font-family: Objective;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 46px;
letter-spacing: 0.05em;
color: #260041;
}
.juct{
    margin-left: 70px;
}
.luul{
    margin-bottom: 70px;
}
.img3{
    display: flex;
justify-content: center;
    margin: 0;
}
.cont22h4{
    padding-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    
    color: #0F001A; 
}
.contienerwe{
    padding: 40px;
    
}
.sit{
    font-family: Objective;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #0F001A;
    opacity: 0.6; 
    padding-top: 15px;
}
.more{
    font-family: Objective;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
text-decoration: none;
display: flex;
align-items: center;
color: #4A99D3;
display: flex;
align-items: center;
}
.vectorimg{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 25px;
}
.wet{
    display: flex;
    align-items: center;
}
.gor{
    display: flex;
    align-items: center;
}
.spanlo{
    display: flex;
    align-items: center;
}
/**/
.rok{
    display: flex;
    justify-content: flex-start;
}
/**/
/**/
/*SERVISES*/
.servises{
    width: 1440px;
    width: 100%;
    background: rgba(30, 134, 207, 0.1);
}
.srvises-itm{
    padding-top: 95px;
    padding-bottom: 95px; 
}
.how{
    text-align: center;
    color: #6c7c88;
    font-family: Objective;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 27px;
}
.bloch{
    padding-top: 35px;
    display: flex;
     justify-content: space-evenly;  
     flex-basis: calc(25% - 100px);  

}
.servises_text{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.dolor{
    font-family: Objective;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;  
}
.cal{
    display: flex;
    justify-content: center;
}
.h5text{
    font-family: Objective;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 19px;


color: #0F001A;
}
 /**/
 .sectiom{
    max-width: 1190px;
        width: 100%;
        height: 100%;
        margin-right: 0 auto;
}
    .row{
        width: 399px;
        height: 519px;
        background-image: url(./IMG/image\ 1.png);
        display: block;
}
.vector2{
    width: 50px;
    height: 43px;
    background-image: url(../img/fa-solid_quote-left.png);
    display: block;
}
.section{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px;

}
.second{
display: flex;

}
.what{
    text-align: center;
    display: flex;
    justify-content: center;
     padding-bottom: 55px;
     padding-top: 35px;
    font-family: Objective;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 27px;

text-align: center;


color: #0F001A;
}
.amed{
    padding-top: 35px;
padding-left: 25px;
    font-family: Objective;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;


color: #0F001A;

}
.angel{
    font-family: Objective;
font-style: italic;
font-weight: 600;
font-size: 20px;
line-height: 19px;
margin-top: 50px;
margin-left: 50px;


color: #0F001A;
}
.gru{
    padding-top: 100px;
}

main{
    padding-top: 50px;
    height: 100%;
    max-width: 1028px;
    margin: 0 auto;
}

.absolut{
  width: 343px;  
  width: 100%;
  height: 100%;
}
.hight{
    width: 180px;
    height: 343px;
  display: block;
  background-image: url(./IMG/mockup1\ 2phone1.png);
  background-size: cover;
  margin-top: 54px;
  margin-right: -60px;
}
.width{
    width: 240px;
    height: 458px;
    display: block;
   
    background-size: cover;
}
.left{
    width: 180px;
    height: 343px;
  display: block;
  background-image: url(../img/mockup1\ 2phone1.png);
  background-size: cover;
  margin-top: 54px; 
 margin-left: -60px;
 z-index: 1;


}
.apple{
    width: 165px;
    height: 52px;
    display: block;
    background-image: url(../img/Groupgoogle-blec.png);
    background-size: cover;
    margin-right: -50px;
}
.appler{
    width: 165px;
    height: 52px;
    display: block;
    background-image: url(../img/Groupapple-blec.png);
    background-size: cover;
    margin-left: 60px;

}
.app{
    font-family: Objective;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 26px;
text-align: center;
color: #0F001A;
}
.in{
    width: 444px;
    font-family: Objective;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 27px;
text-align: center;
color: #0F001A;
opacity: 0.5;
padding-top: 20px;
padding-bottom: 50px;
}
.elit{
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    align-items: center;
}
.donovlad{
    display: flex;
    width: 1190px;
    margin: 0 auto;
}
.land{
    display: flex;
}
.absolut{
    display: flex;
}
.goog{
    display: flex;
}